body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(90deg, #FFC8AA, #B77AAB);
    line-height: 2;
}


img {width:400px;
    height: auto;
}

h1,
h2,
h3 {
    color: #5B0F4D;
}

.index {display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.landingpg {
    background-color: #7CB95C;
    color: #5B0F4D;
    margin: 100px;
    border: 4px double  #5B0F4D;
    padding: 10px;
}

a.rcplinks {
    display: inline-block;
    background-color: #7CB95C;
    color:  #5B0F4D;
    padding: 5px;
    border: 2px solid #5B0F4D;
    border-radius: 5%;
    margin: 5px;
    text-decoration: none;
}

a:hover {
    background-color: #5B0F4D;
    color:  #7CB95C;
}
