body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px;
    background-color: #A8F17C;
}

/*
* {
    border: black solid 1px;
}
*/

.main {
    text-align: center;
}

.main ul {
    list-style-type: none;

}

.main li {
    margin: 7px;
}

h1 {
    background-color: #49B708;
    color: white;
    text-align: center;
}

.overview,
.ingredients,
.steps {
    width: 50%;
    margin: 10px auto;
    background-color: #CFF9B6;
    border: #49B708 solid 2px;
    padding: 5px 15px 10px 5px;
    line-height: 2;
}

h2 {
    color: #49B708;
    margin: 5px;
}

a {
    text-decoration: none;
    color: black;
}

img {
    display: block;
    width: 500px;
    height: auto;
    margin: 10px auto;
}

p {
    padding-left: 40px;
}

.original,
.top a

 {
    color: #49B708;
}

 .top {
    width: 50%;
    margin: 10px auto;  
    padding: 0px 15px 10px 5px;
}

a:hover {
    color: white;
}

a:active {
    color: #49B708;
}
