body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px;
    background-color: #A8F17C;
}

/*
* {
    border: black solid 1px;
}
*/

a {
    text-decoration: none;
} 

a:active,
a:visited {
    color: #49B708;
}

a:hover {
    color: white;
}

.navContainer {
    display: flex;
    justify-content: center;
    text-align: center;
}

.mainNav {
    display: flex;
    justify-content: center;
}

.main ul {
    list-style-type: none;
    text-transform:uppercase;
    padding: 0px;
    line-height: 4em;
    font-weight: 600;
}

.main ul li {
    background-color: #CFF9B6;
    border: #49B708 solid 2px;
    border-radius: 8px;
    margin: 15px 0px;
    padding: 5px 10px;
}


h1 {
    background-color: #49B708;
    color: white;
    text-align: center;
}

.overview,
.ingredients,
.steps {
    width: 50%;
    margin: 10px auto;
    background-color: #CFF9B6;
    border: #49B708 solid 2px;
    padding: 5px 15px 10px 5px;
    line-height: 2;
}

h2 {
    color: #49B708;
    margin: 5px;
}

img {
    display: block;
    width: 500px;
    height: auto;
    margin: 10px auto;
}

p {
    padding-left: 40px;
}

.original,
.nav a {
    color: #49B708;
    text-decoration: underline;
}

 .nav {
    width: 50%;
    margin: 10px auto;  
    padding: 0px 15px 10px 5px;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

